﻿@model IEnumerable<FauxSuperheroSprint.DATA.EF.Character>

@{
    ViewBag.Title = "Index";
}

<h2>Characters</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create")

        }
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occupation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occupation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.CharacterID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.CharacterID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.CharacterID })
                </td>*@
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <td>
                    @*Details will display for all Authenticated requests (Hero, Manager, Admin)*@
                    @Html.ActionLink("Details", "Details", new { id = item.CharacterID })
                    @*Hero Access stops here, to see the navigation beyond this point, the user must
                        NOT be an Hero (Manager/Admin)*@
                    | @Html.ActionLink("Edit", "Edit", new { id = item.CharacterID })
                    @*The user must be an Admin to see Delete. !Hero, !Manager*@
                    | @Html.ActionLink("Delete", "Delete", new { id = item.CharacterID })
                    
                </td>
            }

        </tr>
    }

</table>
