﻿@model IEnumerable<FauxSuperheroSprint.DATA.EF.CourseCharacter>

@{
    ViewBag.Title = "Index";
}

<h2>Instructors</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create")

        }
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Character.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cours.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Character.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.Name)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseCharacterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseCharacterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseCharacterID })
        </td>*@
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <td>
                @*Details will display for all Authenticated requests (Hero, Manager, Admin)*@
                @Html.ActionLink("Details", "Details", new { id = item.CourseCharacterID })
                @*Hero Access stops here, to see the navigation beyond this point, the user must
                NOT be an Hero (Manager/Admin)*@
                | @Html.ActionLink("Edit", "Edit", new { id = item.CourseCharacterID })
                @*The user must be an Admin to see Delete. !Hero, !Manager*@
                | @Html.ActionLink("Delete", "Delete", new { id = item.CourseCharacterID })
                
            </td>
        }


    </tr>
}

</table>
