﻿@model IEnumerable<FauxSuperheroSprint.DATA.EF.Cours>

@{
    ViewBag.Title = "Index";
}

<h2>Courses</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create")

        }
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.CourseID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.CourseID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.CourseID })
                </td>*@
            @if (Request.IsAuthenticated && User.IsInRole("Hero") || User.IsInRole("Admin"))
            {
                <td>
                    @*Details will display for all Authenticated requests (Hero, Manager, Admin)*@
                    @Html.ActionLink("Details", "Details", new { id = item.CourseID })
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        @*Hero Access stops here, to see the navigation beyond this point, the user must
                            NOT be an Hero (Manager/Admin)*@
                        @:| @Html.ActionLink("Edit", "Edit", new { id = item.CourseID })
                        @*The user must be an Admin to see Delete. !Hero, !Manager*@
                        @:| @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
                    }
                </td>
            }


        </tr>
    }

</table>
