﻿@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="article-list">
            <div class="entry-title text-center">
                <p>who we are?</p>
                <h2>About SuperHeroes, Inc.</h2>
            </div>

            <div class="entry-featured-content shadow-z-2">
                <img class="img-responsive" src="~/Content/img/about.jpg" alt="">
            </div>

            <div class="entry-content">
                <h2>Mission</h2>
                <blockquote>
                    <p>
                        Our mission is to provide protection against villains and educate our community about safety. We hope
                        to develop a community of pro-active citizens who are vigilant in keeping streets safe through knowledge
                        and awareness.
                    </p>
                </blockquote>
                <h2>Programs/Services</h2>
                <p>
                    Super Heroes, Inc. is a dedicated group of heroes who strive to provide programs that emphasize growth
                    through education, safety training, and challenges. We provide citizens of all ages with hands-on,
                    interactive programs to encourage safety and respect for others.
                </p>
            </div>


        </div>
    </div>
</div>
