﻿@model FauxSuperheroSprint.UI.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="article-list">
            <div class="entry-content">
                <div class="entry-title text-center">
                    <p>want to know more?</p>
                    <h2>Contact with us</h2>
                </div>
                <div id="map-canvas"></div>
                <!-- Google Maps API -->
                @*<script src="https://maps.googleapis.com/maps/api/js"></script>
                <script>
                    function initialize() {
                        var mapOptions = {
                            zoom: 17,
                            scrollwheel: false,
                            center: new google.maps.LatLng(18.013764, -76.801992)
                        };

                        var map = new google.maps.Map(document.getElementById('map-canvas'),
                            mapOptions);


                        var marker = new google.maps.Marker({
                            position: map.getCenter(),
                            icon: 'img/map-marker.png',
                            map: map
                        });

                    }

                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>*@
                <div class="contact-form shadow-z-1">
                    <h2 class="title text-center">Get In Touch</h2>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-control-wrapper">
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name" })
                                    @Html.ValidationMessageFor(x => x.Name)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-control-wrapper">
                                    @Html.TextBoxFor(x => x.Email, new
                               {
                                   @class = "form-control",
                                   placeholder = "E-Mail",
                                   title = "Your email will be kept confidential"
                               })
                                    @Html.ValidationMessageFor(x => x.Email)
                                </div>
                            </div>
                        </div>

                        <div class="form-control-wrapper">
                            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", placeholder = "Subject" })
                            @Html.ValidationMessageFor(x => x.Subject)
                        </div>
                        <div class="form-control-wrapper">
                            @Html.TextAreaFor(x => x.Message, new
                       {
                           @class = "form-control",
                           id = "message",
                           rows = "8",
                           placeholder = "Your Message Here",
                           title = "Be concise but include all important details"
                       })
                            @Html.ValidationMessageFor(x => x.Message)
                        </div>


                        <p class="form-control-wrapper" style="margin-bottom: 30px">

                            <input type="submit" name="submit" value="submit" class="btn btn-primary pull-right" />

                        </p>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

