﻿@model FauxSuperheroSprint.UI.Models.ContactViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactConfirmation</title>
</head>
<body>
    <div class="col-sm-8">
        <h2 style="font-size:3em; font-weight:bold; color:red;">Thank you for contacting us, @Model.Name!, We will get back to you within 24 hours.</h2>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
